:root {
  --color-realgrid-row: #fff;
  --color-realgrid-row-odd: #f3f3f3;
}

.realgrid-wrapper {
  display: flex;
  flex-direction: column;
}

.realgrid-container {
  border-radius: var(--radius-md);
  flex: 1 1 0;
  min-height: 0;
  overflow: hidden;
}

.realgrid-pagination {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.rg-header-renderer span > i,
.rg-header-group-cell span > i {
  color: var(--color-hdot-primary);
  display: block;
  font-style: normal;
  line-height: 0.8rem;
}

.rg-data-cell .rg-renderer.rg-tree-renderer {
  > span:not(.square) {
    margin-left: 2px;
  }

  > .rg-tree-leaf + span {
    margin-left: 0;
  }
}

.rg-fixed-column-bar,
.rg-fixed-row-bar-cell {
  background-color: #ccc !important;
}

.bg-grid-order {
  background-color: #fff;
}

.bg-grid-order-task {
  background-color: #f4f4f4;
}

.grid-cell-pointer-text-blue {
  cursor: pointer;
  color: var(--color-hdot-primary);
}

/*
Cell align
 */
.rg-data-cell > .rg-renderer,
.rg-data-cell-center > .rg-renderer {
  text-align: center;
}

.rg-data-cell-left > .rg-renderer {
  text-align: left;
}

.rg-data-cell-right > .rg-renderer {
  text-align: right;
}

.rg-tree-collapsed.square,
.rg-tree-expanded.square {
  margin-right: 0.4rem;
}
