:root {
  --color-realgrid-row: #fff;
  --color-realgrid-row-odd: #f3f3f3;
  --color-realgrid-row-current: #f7ddd0;
}

.realgrid-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  @apply grow;
}

.realgrid-container {
  border-radius: var(--radius-md);
  flex: 1 1 0;
  min-height: 0;
  overflow: hidden;
}

.realgrid-search-layer {
  @apply absolute top-6 right-4 rounded border bg-white p-2 text-sm shadow-lg shadow-gray-500;

  > input {
    @apply mr-2 outline-none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.realgrid-pagination {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.rg-header-renderer span > i,
.rg-header-group-cell span > i {
  color: var(--color-hdot-primary);
  display: block;
  font-style: normal;
  line-height: 0.8rem;
}

.rg-data-cell .rg-renderer.rg-tree-renderer {
  > span:not(.square) {
    margin-left: 2px;
  }

  > .rg-tree-leaf + span {
    margin-left: 0;
  }
}

.rg-fixed-column-bar,
.rg-fixed-row-bar-cell {
  background-color: #ccc !important;
}

.bg-grid-order {
  background-color: #fff;
}

.bg-grid-order-task {
  background-color: #f4f4f4;
}

.grid-cell-pointer-text-blue {
  cursor: pointer;
  color: var(--color-hdot-primary);
}

/*
Cell align
 */
.rg-body .rg-table tr td:hover,
.rg-fixed-body .rg-table tr td:hover {
  background: transparent;
}

.rg-header-focus {
  background: none;
}

.rg-data-cell > .rg-renderer,
.rg-rowgroup-footer-renderer {
  text-align: center;
}

.rg-data-cell-left {
  > .rg-renderer,
  > .rg-rowgroup-footer-renderer {
    text-align: left;
  }
}

.rg-data-cell-right {
  > .rg-renderer,
  > .rg-rowgroup-footer-renderer {
    text-align: right;
  }
}

.rg-tree-collapsed.square,
.rg-tree-expanded.square {
  margin-right: 0.4rem;
}

/* Context menu */
.rg-popup-menu {
  padding: 0.4rem 0;
  border-radius: 0.4rem;

  .rg-popup-item {
    height: 1.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: var(--text-sm);

    .rg-popup-content {
      margin: 0;
      padding: 0;
    }
  }
}
