@import "tailwindcss";
@import "./css/realgrid.css";

@theme {
  --font-sans: 'pretendard', sans-serif;
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --spacing-sidebar: 64px;
  --spacing-sidebar-expanded: 240px;
  --spacing-control-sm: 1.625rem;
  --spacing-control-md: 1.875rem;
  --font-size-base: 0.7rem;
  --radius-lg: var(--radius-md);
  --radius-md: var(--radius-sm);
  --radius-sm: 0.2rem;
}

@source "../components/**/*.{vue,ts}";
