@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import 'tailwindcss';
@import 'realgrid.css';

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --spacing-sidebar: 64px;
  --spacing-sidebar-expanded: 240px;
  --spacing-control-sm: 1.325rem;
  --spacing-control-md: 24px;
  --font-weight-medium: 300;
  --text-base: 13px;
  --text-base--line-height: 1.5;
  --text-lg: 16px;
  --text-md: 14px;
  --text-sm: 12px;
  --text-xs: 10px;
  --font-sans: 'pretendard', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --radius-lg: var(--radius-md);
  --radius-md: var(--radius-sm);
  --radius-sm: 0.2rem;

  --color-hdot: #0369b4;
}

@layer base {
  body {
    font-size: 13px;
    font-weight: 300;
  }

  .font-mono {
    font-weight: 700;
  }
}
